{extend name='base' /}
{block name="content"}
<!--文章详情内容/start-->
<div class="detail_wrap">
    <div class="arc_title_wrap">
        <h3>{$aticleData['arc_title']}</h3>
        <p>
            <span>{$aticleData['arc_author']} 发表于：{:date('Y年m月d日 h:i:s',$aticleData['sendtime'])}</span>
            <span>分类：前端开发</span>
            <span>阅读({$aticleData['arc_click']})</span>
            <!--<span>评论(100)</span>-->
        </p>
    </div>
    <textarea class="textarea_text" hidden>{$aticleData['arc_content']}</textarea>
    <div class="detail_content">
        {$aticleData['arc_content']}
    </div>
    <!--<div id="reward_btn">打开弹窗</div>-->
    <!--<div class="reward_dialog_mask">-->
        <!--<div class="reward_dialog_box"></div>-->
    <!--</div>-->
    <!--打赏 start-->
    <div class="gratuity">
        <p>如果觉得我的文章对您有用，请随意打赏一下。您的支持将是我继续努力的动力！</p>
        <a id="gratuity-alert-btn" class="gratuity-alert-btn" href="javascript:;">￥打赏支持￥</a>
        <!--<div class="phone-pay">-->
            <!--<p>-->
                <!--<img src="../img/weixn_pay_code.jpg" alt="">-->
                <!--<span>微信</span>-->
            <!--</p>-->
            <!--<p>-->
                <!--<img src="../img/alipay_code.jpg" alt="">-->
                <!--<span>支付宝</span>-->
            <!--</p>-->
        <!--</div>-->
        <!--打赏弹窗 start-->
        <div class="gratuity-alert-mask"></div>
        <div class="gratuity-alert-box animated">
            <i class="close-icon close-btn"></i>
        </div>
        <!--打赏弹窗 end-->
    </div>
    <!--打赏 end-->
</div>
<script type="application/javascript">

    $(function(){
        $('#reward_btn').click(function(){
            alert('111')
        });
    })
</script>
<!--文章详情内容/end-->
{/block}