{extend name='base'/}
{block name='content'}
<ol class="breadcrumb" style="background-color: #f9f9f9;padding:8px 0;margin-bottom:10px;">
    <li>
        <a href=""><i class="fa fa-cogs"></i>
            文章管理</a>
    </li>
    <li class="active">
        <a href="">文章添加</a>
    </li>
</ol>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="{:url('admin/Article/index')}">文章管理</a></li>
    <li class="active"><a href="">文章添加</a></li>
</ul>
<form class="form-horizontal" id="form"  action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">文章管理</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章标题</label>
                <div class="col-sm-9">
                    <input type="text" name="arc_title"  class="form-control" placeholder="文章标题">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章作者</label>
                <div class="col-sm-9">
                    <input type="text" name="arc_author"  class="form-control" placeholder="文章作者">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章排序</label>
                <div class="col-sm-9">
                    <input type="number" name="arc_sort" value="100"  class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">所属分类</label>
                <div class="col-sm-9">
                    <select class="js-example-basic-single form-control" name="cate_id">
                        <option value="0">请选择分类</option>
                        {foreach name="cateData" item="vo"}
                        <option value="{$vo.cate_id}">{$vo._cate_name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">标签</label>
                <div class="col-sm-9">
                    {foreach name="tagList" item="vo"}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="tag[]" value="{$vo.tag_id}">{$vo.tag_name}
                    </label>
                    {/foreach}
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">缩略图</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" name="arc_thumb" readonly="" value="">
                        <div class="input-group-btn">
                            <button onclick="upImage(this)" class="btn btn-default" type="button">选择图片</button>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top:5px;">
                        <img src="__STATIC__/images/nopic.jpg" class="img-responsive img-thumbnail" width="150">
                        <em class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="removeImg(this)">×</em>
                    </div>
                </div>
                <script>
                    //上传图片
                    function upImage(obj) {
                        require(['hdjs'], function (hdjs) {
                            options = {
                                multiple: false,//是否允许多图上传
                                //data是向后台服务器提交的POST数据
                                data:{name:'博客',year:2099},
                            };
                            hdjs.image(function (images) {          //上传成功的图片，数组类型

                                $("[name='arc_thumb']").val(images[0]);
                                $(".img-thumbnail").attr('src', images[0]);
                            }, options)
                        });
                    }
                    //移除图片
                    function removeImg(obj) {
                        $(obj).prev('img').attr('src', 'resource/images/nopic.jpg');
                        $(obj).parent().prev().find('input').val('');
                    }
                </script>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">文章摘要</label>
                <div class="col-sm-9">
                    <textarea type="text" name="arc_digest"  class="form-control" placeholder="文章摘要"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for=""  class="col-sm-2 control-label">文章内容</label>
                <div class="col-sm-9">
                    <!--<textarea id="container" name="arc_content" style="height:500px;width:100%;"></textarea>-->
                    <!--<div id="editormd"></div>-->
                    <script id="ue_container" name="arc_content" type="text/plain"></script>
                    <!--<textarea hidden id="text1" name="arc_content" style="width:100%; height:200px;"></textarea>-->
                    <!--<script>-->
                        <!--var E = window.wangEditor-->
                        <!--var editor = new E('#editormd')-->

                        <!--var $text1 = $('#text1')-->
                        <!--// 配置服务器端地址-->
                        <!--editor.customConfig.uploadImgServer = "test/php/uploader.php?"-->
                        <!--editor.customConfig.onchange = function (html) {-->
                            <!--// 监控变化，同步更新到 textarea-->
                            <!--$text1.val(html)-->
                        <!--}-->
                        <!--editor.create()-->
                        <!--// 初始化 textarea 的值-->
                        <!--$text1.val(editor.txt.html())-->
                    <!--</script>-->

                    <script>
                        require(['hdjs'], function (hdjs) {
                            hdjs.ueditor('ue_container', {
                                toolbars: [
                                    [
                                        'anchor', //锚点
                                        'undo', //撤销
                                        'redo', //重做
                                        'bold', //加粗
                                        'indent', //首行缩进
                                        'snapscreen', //截图
                                        'italic', //斜体
                                        'underline', //下划线
                                        'strikethrough', //删除线
                                        'subscript', //下标
                                        'fontborder', //字符边框
                                        'superscript', //上标
                                        'formatmatch', //格式刷
                                        'source', //源代码
                                        'blockquote', //引用
                                        'pasteplain', //纯文本粘贴模式
                                        'selectall', //全选
                                        // 'print', //打印
                                        'preview', //预览
                                        'horizontal', //分隔线
                                        'removeformat', //清除格式
                                        'time', //时间
                                        'date', //日期
                                        'unlink', //取消链接
                                        'insertrow', //前插入行
                                        'insertcol', //前插入列
                                        'mergeright', //右合并单元格
                                        'mergedown', //下合并单元格
                                        'deleterow', //删除行
                                        'deletecol', //删除列
                                        'splittorows', //拆分成行
                                        'splittocols', //拆分成列
                                        'splittocells', //完全拆分单元格
                                        'deletecaption', //删除表格标题
                                        'inserttitle', //插入标题
                                        'mergecells', //合并多个单元格
                                        'deletetable', //删除表格
                                        'cleardoc', //清空文档
                                        'insertparagraphbeforetable', //"表格前插入行"
                                        'insertcode', //代码语言
                                        'fontfamily', //字体
                                        'fontsize', //字号
                                        'paragraph', //段落格式
                                        // 'simpleupload', //单图上传
                                        // 'insertimage', //多图上传
                                        'edittable', //表格属性
                                        'edittd', //单元格属性
                                        'link', //超链接
                                        'emotion', //表情
                                        'spechars', //特殊字符
                                        'searchreplace', //查询替换
                                        'map', //Baidu地图
                                        'gmap', //Google地图
                                        'insertvideo', //视频
                                        // 'help', //帮助
                                        'justifyleft', //居左对齐
                                        'justifyright', //居右对齐
                                        'justifycenter', //居中对齐
                                        'justifyjustify', //两端对齐
                                        'forecolor', //字体颜色
                                        'backcolor', //背景色
                                        'insertorderedlist', //有序列表
                                        'insertunorderedlist', //无序列表
                                        // 'fullscreen', //全屏
                                        'directionalityltr', //从左向右输入
                                        'directionalityrtl', //从右向左输入
                                        'rowspacingtop', //段前距
                                        'rowspacingbottom', //段后距
                                        'pagebreak', //分页
                                        // 'insertframe', //插入Iframe
                                        'imagenone', //默认
                                        'imageleft', //左浮动
                                        'imageright', //右浮动
                                        // 'attachment', //附件
                                        'imagecenter', //居中
                                        // 'wordimage', //图片转存
                                        'lineheight', //行间距
                                        'edittip ', //编辑提示
                                        'customstyle', //自定义标题
                                        'autotypeset', //自动排版
                                        // 'webapp', //百度应用
                                        'touppercase', //字母大写
                                        'tolowercase', //字母小写
                                        'background', //背景
                                        'template', //模板
                                        'scrawl', //涂鸦
                                        'music', //音乐
                                        'inserttable', //插入表格
                                        // 'drafts', // 从草稿箱加载
                                        // 'charts', // 图表
                                    ]
                                ]
                            }, function (editor) {
                                //这是回调函数 editor是百度编辑器实例
                                console.log(editor)

                            });
                        })
                    </script>
                    <!--第二个参数为添加到数据表中字段，hash为确定上传文件标识（可以以用户编号，标识为此用户上传的文件，系统使用这个字段值来显示文件列表），data为数据表中的data字段值，开发者根据业务需要自行添加-->
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">确定</button>
</form>
{/block}